* {
  margin: 0px;
  padding: 5px;
}

.box {
  height: 200px;
  width: 100px;
}



.a{
  align-self: center;
}

.container {
  display: flex;
  align-self: center;
  justify-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: auto;
  min-height: 200;
  height: 200;
  padding: 5;
  background-color: rgb(122, 170, 206);
  
} 

h1 {
  align-self: top, center;
  padding: 10px;
  color: rgb(247, 248, 240);
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
}

.a {
  grid-area: a;
  background-color: red;
}

.b {
  grid-area: b;
  background-color: green;
}

.c {
  grid-area: c;
  background-color: blue;
}

.d {
  grid-area: d;
  background-color: violet;
}


